build/Texto.o
build/Texto.d
build/Som.o
build/Som.d
build/Recebimento.o
build/Recebimento.d
build/main.o
build/main.d
build/ImagemTexto.o
build/ImagemTexto.d
build/ImagemPura.o
build/ImagemPura.d
build/Imagem.o
build/Imagem.d
build/Envio.o
build/Envio.d
build/Contato.o
build/Contato.d
build/BaseInclude.o
build/BaseInclude.d
bin/sides/consola.ttf
bin/openal32.dll
bin/main.exe
bin/config.txt
bin/sides/audios/0.wav
bin/sides/audios/1.wav
